@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400&display=swap');


* {
    margin: 0;
    border: 0;

}

header {
    background: linear-gradient(45deg, #B8860B, #b1995d);
    padding: 1.8rem;
}

div {
    padding: 0 20%;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
    padding: 0 20%;

    
}
nav li {
    display: inline;
    margin: 0 0 15px;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}

nav a:hover {
    color: #ffffff;
    font-size: 31px;
    font-family: 'Poppins', sans-serif;

}



.produtos {
    display: flex;
    justify-content: space-around;
    padding: 150px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 25%;
    vertical-align: top;
    padding: 80px 20px;
    margin: 0 1.5%;
    box-sizing: border-box;
    border-width: 2px;
    border-radius: 8px;
    box-shadow: 5px 3px 5px 3px #ada8a8;
    
}


.produtos li:active {
    border-color: #B8860B;
}

.produtos li:hover h2 {
    font-size: 34px;
    font-family: 'Poppins', sans-serif;


}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}

.descricao {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}

.preco {
    font-size: 32px;
    font-weight: bold;
    margin-top: 16px;
    font-family: 'Poppins', sans-serif;

}

footer {
    text-align: center;
    background: url('assets/bg.jpg');
    padding: 40px 0;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;


}

.copyright {
    font-size: 13px;
    color: #FFFFFF;
    margin-top: 20px 0 0;
    font-family: 'Poppins', sans-serif;

    
}
